<!-- company.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %} Companies {% endblock %}

{% block style %}
<style>
.company-dashboard-container {
    margin-top: 50px;
    width: 64%;
    margin-left: 340px;
}
</style>
{% endblock %}

{% block content %}

<div class="company-dashboard-container">

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-0 text-gray-800"> You recently watched </h1>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {% for company in companies %}
                <!-- Collapsable Card -->
                <div class="card shadow mb-4">
                    <a href="#collapseCard{{ forloop.counter }}" class="d-block card-header py-3" data-toggle="collapse"
                        role="button" aria-expanded="false" aria-controls="collapseCard{{ forloop.counter }}">
                        <h6 class="m-0 font-weight-bold text-primary">{{ company.title }}</h6>
                    </a>
                    <div class="collapse" id="collapseCard{{ forloop.counter }}">
                        <div class="card-body">
                            {{ company.description }}
                        </div>
                        <div class="card-body">
                            Read more about the company's products <a href="/company/{{ company.tag }}/">here</a>.
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}
